@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
}


/*

* HEADER / NAV

*/

#personal-logo {
    width: 100%;
    max-width: 6rem;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    height: 100px;
}

.nav__link--list {
    display: flex;
}
.nav__link {
    margin: 0 0.75rem;
}
.nav__link--anchor {
    text-decoration: none;
    font-size: 1rem;
    color: #242424;
    font-weight: 700;
}

.fa-circle-half-stroke {
    font-size: 1.125rem;
}